/joker_app/node_modules
/meme/node_modules
/pic/node_modules
/React-Tutorial-First-App-/node_modules
/React-Tutorial(Youtube-API)/node_modules
/seasons/node_modules
/udemy_components/node_modules
/weather-application/node_modules
/songsapp/node_modules