.video-item {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.video-item.items img {
  max-width: 130px;
  padding-right: 5px;
  cursor: pointer;
}

.content {
  font-size: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}